{% extends "register/base.html" %}

{% block title %} Create an Account {% endblock %}
{% block topbar %} 
<div style="text-align: center;">
    <h1>Register New Account</h1> 
</div>
{% endblock %}
{% block content %}
{% load crispy_forms_filters %}
<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- <br/>
    <br/>
    <br/>
    {{ form.username }}
    {{ form.email }}
    {{ form.password1 }}
    {{ form.password2 }} -->
    <button type="submit" class="btn btn-success">Register</button>
</form>
{% endblock %}